@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

#root {
  all: unset;
  margin: 0 auto;
}

main {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header li {
  margin-left: 32px;
  font-size: 24px;
}

.banner {
  height: 223px;
  position: relative;
  margin-bottom: 64px;
}

.banner img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.gallery {
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 32px;
  border-radius: 15px;
   gap: 32px;
   margin-bottom: 64px;
}

.gallery a {
  position: relative;
  margin: 0 auto;
  width: 340px;
  height: 340px;
  border-radius: 15px;
}

.gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.gallery p {
  position: absolute;
  bottom: 0;
  padding: 12px;
  width: 50%;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  text-align: left;
  font-weight: bold;
}

footer {
  padding: 32px;
  margin: 0 auto;
  max-width: 1440px;
  background:black;
  height:209px ;
  color: white;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
footer img {
  filter: brightness(0) invert(1);
}